@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent; /* Oculta o traço piscando */
}

/* HEADER ----------------------------------------------------------- */
.header {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 50px;
    /* text-transform: uppercase; */
    /* font-weight: 700; */
}

#home{
    /* color: #99CCFF; */
}
.header a {
    text-decoration: none;
    color: whitesmoke;
}

.header a:hover{
    opacity: 0.9;
}

.phone {
    margin-left: auto; /* Empurra o link do telefone para a direita */
    font-size: 2vh;
}

.phone img{
    height: 3vh;
    vertical-align: middle;
    margin-right: 1vh;
}

/* body -------------------------------------------------------------------------*/
body{
    background-image: url(/assets/set-up5.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* height: 100%; */    
}

.container{
    margin-left: 20vh;
    margin-top: 10vh;
    
}

.container .name{
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Raleway", sans-serif;
    color: whitesmoke;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 100;
}

.container .surname{
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "PT Sans", sans-serif;
    color: whitesmoke;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 700;
    /* letter-spacing: 10px; */
    line-height: 10vh;
}

.container .profession{
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Raleway", sans-serif;
    color: whitesmoke;
    font-size: 3vh;
    letter-spacing: 5px;
    line-height: 9vh;
}

button{
    background: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 5px;
    border-radius: 50px;
    width: 100px;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover{
    background-color: whitesmoke;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* FOOTER ------------------------------------------------- */
.rodape img{
    height: 5vh;
    margin-left: 20vh;
    margin-top: 33vh;
}

.rodape img:hover{
    height: 6vh;
    transition: height 0.3s, color 0.3s;
}



